<div class="buttons">
   <h3>{{buttonHeading}}</h3>
   <button [class.gold] = "buttonStatus[0]" [disabled]='!buttonStatus[0]' (click)="buttonStatus[0]=false">Gold</button> <br>
   <button [class.silver] = "buttonStatus[1]" [disabled]='!buttonStatus[1]' (click)="buttonStatus[1]=false">Silver</button> <br>
   <button [class.copper]="buttonStatus[2]" [disabled]='!buttonStatus[2]' (click)="buttonStatus[2]=false">Copper</button> <hr>
   <button (click)="reactivateButtons()">Activate/Deactivate Buttons</button>
</div>

<div [align]="location" (mouseover)="location = shiftLocation(location)">
   <button class = "silver">Catch me!</button>
</div>
<!-- <button [class.buttonFun]="changeButton" (click)="changeButton = !changeButton">Catch Me!</button> -->

<div [class.special]="specialFactor" (click)="specialFactor=true">Very Special Content</div>